{% extends 'base.html' %}

{% block title %}Dashboard - RidwaanHall{% endblock %}


{% block head_maps %}

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <script src="static/js/line.js"></script>

    <style>
      #eqMap { 
        height: 360px
      }
    </style>

{% endblock %}


{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard - RidwaanHall</h1>
                        <div href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-clock-rotate-left fa-sm text-white-50"></i> Last update {{ info_dashboard.info.timesent }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-danger text-white shadow">
                                <div class="card-body">
                                    Danger !!
                                    <div class="text-white-50 mb-0">{{ info_dashboard.info.headline }}.</div>
                                </div>
                            </div>
                        </div>
                      
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Magnitude</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.magnitude }} M</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-chart-simple fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Datetime {{ info_dashboard.info.date }}</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.time }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Depth</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.depth }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-podcast fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                coordinates</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.point.coordinates }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-map-location fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" id="ContentOpenClose">
                            <!-- Collapsable Card Example -->
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseMapsDashboard" class="d-block card-header py-3" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseMapsDashboard">
                                    <h6 class="m-0">Live Maps</h6>
                                </a>
                                <!-- Card Content - Collapse -->
                                <div class="collapse show" id="collapseMapsDashboard" data-parent="#ContentOpenClose">
                                    <div class="card-body">
                                      <div id="eqMap">
                                        
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseMapsImage" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseMapsImage">
                                    <h6 class="m-0">Intensity Logo v2</h6>
                                </a>
                                <div class="collapse" id="collapseMapsImage"  data-parent="#ContentOpenClose">
                                    <div class="card-body">
                                        <img src="https://earthquake-bmkg-api.ridwaanhall.repl.co/{{ info_dashboard.info.shakemap }}" alt="Intensity Logo v2" class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-6 mb-4">
                            <div class="card border-bottom-info shadow mb-4">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Location</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.area }}.</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-location-crosshairs fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-bottom-secondary shadow mb-4">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Felt</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">{{ info_dashboard.info.felt }}.</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-regular fa-bullseye fa-2x text-gray-500"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Color System -->
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body chart-pie mb-2">
                                            Level EQ - Last 30 Felt EQ
                                            <canvas id="myPieChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <div class="card bg-secondary text-white shadow">
                                        <div class="card-body chart-pie mb-2">
                                            Level EQ - History EQ
                                            <canvas id="magHistoryEvent"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-12 mb-4">
                          <div class="card shadow mb-4">
                                <!-- Card Header - Accordion -->
                                <a href="#collapseNarasi" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="collapseNarasi">
                                    <h6 class="m-0">Narasi (data menyesuaikan terhadap impact dan magnitude gempa)</h6>
                                </a>
                                <div class="collapse" id="collapseNarasi">
                                    <div class="card-body">
                                        {{ narasi_text | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <!-- /.container-fluid -->
{% endblock %}


{% block maps %}
    <script src="static/vendor/chart.js/Chart.min.js"></script>
    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        
        // Pie Chart Example
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ["I", "II - III", "IV", "V", "VI", "VII", "VIII", "IX - X"],
            datasets: [{
              data: {{ mag30feltEvent }},
              backgroundColor: ['#f8f9fc', '#4e73df', '#36b9cc', '#1cc88a', '#f6c23e', '#e74a3b', '#858796', '#5a5c69'],
              hoverBackgroundColor: ['#E2E5EB', '#3554B4', '#2698B4', '#14A66B', '#E0B834', '#D93A2B', '#6E7581', '#484B55'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: true,
              caretPadding: 1,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 0,
          },
        });

    </script>

    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        
        // Pie Chart Example
        var ctx = document.getElementById("magHistoryEvent");
        var magHistoryEvent = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: ["I", "II - III", "IV", "V", "VI", "VII", "VIII", "IX - X"],
            datasets: [{
              data: {{ magHistoryEvent }},
              backgroundColor: ['#f8f9fc', '#4e73df', '#36b9cc', '#1cc88a', '#f6c23e', '#e74a3b', '#858796', '#5a5c69'],
              hoverBackgroundColor: ['#E2E5EB', '#3554B4', '#2698B4', '#14A66B', '#E0B834', '#D93A2B', '#6E7581', '#484B55'],
              hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              backgroundColor: "rgb(255,255,255)",
              bodyFontColor: "#858796",
              borderColor: '#dddfeb',
              borderWidth: 1,
              xPadding: 15,
              yPadding: 15,
              displayColors: true,
              caretPadding: 1,
            },
            legend: {
              display: false
            },
            cutoutPercentage: 0,
          },
        });

    </script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script>
        // Making a map and tiles
        const mymap = L.map('eqMap').setView([{{ latitude }}, {{ longitude }}], 7); // Set initial view to the latitude and longitude
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });
        tiles.addTo(mymap);

        // Making a marker with a custom icon
        const locIcon = L.icon({
            iconUrl: '/static/img/circle.png',
            iconSize: [50, 50],
            iconAnchor: [25, 25]
        });
        let marker = L.marker([{{ latitude }}, {{ longitude }}], 
        { icon: locIcon }
        )
          .addTo(mymap)
          .bindPopup('<div class="text-gray-700 mb-0">Datetime : {{ info_dashboard.info.date }} {{ info_dashboard.info.time }}</div><div class="text-gray-700 mb-0">Coordinates : {{ info_dashboard.info.point.coordinates }}</div><div class="text-gray-700 mb-0"> Magnitude : {{ info_dashboard.info.magnitude }} M</div><div class="text-gray-700 mb-2"> Depth : {{ info_dashboard.info.depth }}</div>');


        // Google Map Layer

        googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
         });
         googleStreets.addTo(mymap);
        
         // Satelite Layer
        googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
           maxZoom: 20,
           subdomains:['mt0','mt1','mt2','mt3']
         });
        googleSat.addTo(mymap);

        // GEOJSON
        const fault_indo_worldLine = L.geoJSON(fault_indo_world).addTo(mymap);

        const baseLayers = {
            "Satellite":googleSat,
            "Google Map":googleStreets,
            "OpenStreetMap": tiles,
        };

        const overlays = {
            "Fault Indo World":fault_indo_worldLine,
        };
      
        L.control.layers(baseLayers, overlays).addTo(mymap);

      
    </script>

{% endblock %}