{% extends 'base.html' %}

{% block title %}News - INATEWS{% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">{{ json_data.info.subject }}</h1>
                    <p class="mb-4">{{ json_data.info.headline }}</p>
                    <p class="mb-4">{{ json_data.info.description }}</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-warning">{{ json_data.info.event }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Depth</th>
                                            <th>Mag</th>
                                            <th>Lat</th>
                                            <th>Long</th>
                                            <th>Area</th>
                                            <th>Felt</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Depth</th>
                                            <th>Mag</th>
                                            <th>Lat</th>
                                            <th>Long</th>
                                            <th>Area</th>
                                            <th>Felt</th>
                                        </tr>
                                    </tfoot>
                                    <tbody> <!--tr td-->
                                      {% if json_data %}
                                          <tr>
                                              <td>{{ json_data.info.date }}</td>
                                              <td>{{ json_data.info.time }}</td>
                                              <td>{{ json_data.info.depth }}</td>
                                              <td>{{ json_data.info.magnitude }}</td>
                                              <td>{{ json_data.info.latitude }}</td>
                                              <td>{{ json_data.info.longitude }}</td>
                                              <td>{{ json_data.info.area }}</td>
                                              <td>{{ json_data.info.felt }}</td>
                                          </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer py-3">
                            <h6 class="m-0 font-weight-bold text-xs">{{ json_data.info.potential }}</h6>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}